@media screen and (max-width: 1000px){
    nav .nav-links{
        width: 80%;
    }

    .header-title{
        font-size: 3.2rem;
    }

    .offer-description{
        width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 830px){
    .navbar{
        width: 100%;
    }

    nav{
        flex-direction: column;
    }

    nav .nav-links{
        width: 100%;
    }

    .social-links{
        justify-content: space-evenly;
        width: 50%;
    }

    .dish-div img{
        margin: 10% auto;
        width: 100%;
    }

    .ingredients-section{
        grid-template-columns: auto auto;
    }

    .ingredients-info{
        width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 700px){
    .navbar{
        height: auto;
    }

    nav .nav-links{
        flex-direction: column;
        display: none;
    }

    nav .nav-links .nav-link > a{
        padding: 0.5rem 1rem;
    }

    .social-links{
        justify-content: space-evenly;
        width: 100%;
    }

    .logo{
        width: 5rem;
    }

    #mobile-menu-btn{
        display: block;
    }

    .header-title{
        font-size: 2.8rem;
        margin:10vh auto 5vh auto;
    }
    
    .header-buttons a{
        padding: 1rem 2rem;
    }

    .offer-section{
        grid-template-columns: 1fr;
    }

    .dish-div img{
        width: 60%;
        margin-left: 20%;
    }

}

@media screen and (max-width: 500px){

    img{
        width: 80%;
        margin-left: 10%;
    }

    .header-title{
        font-size: 2.2rem;
    }
    .header-buttons{
        display: flex;
        flex-direction: column;
    }

    .header-buttons a:first-child{
        margin-right: 0;
        margin-bottom: 1rem;
    }
  
}