@media screen and (max-width: 830px){
    .navbar{
        width: 100%;
    }

    nav{
        flex-direction: column;
    }

    nav .nav-links{
        max-width: 100%;
    }
}

@media screen and (max-width: 700px){
    nav .nav-links{
        flex-direction: column;
        display: none;
    }

    .social-links{
        justify-content: space-evenly;
        width: 100%;
    }

    .logo{
        width: 5rem;
    }

    #mobile-menu-btn{
        display: block;
    }

}