@media screen and (max-width: 1200px){
    html{
        font-size: 70%;
    }
    .item-images-div img{
        width: 35%;
    }
}

@media screen and (max-width: 1000px){
    nav .nav-links{
        width: 80%;
    }

    .header-title{
        font-size: 3.2rem;
    }

    .header .divider img{
        width: 25%;
    }

    .offer-description{
        width: 60%;
        margin-left: 20%;
    }

    .reservations-form{
        grid-template-columns: auto;
    }

    input{
        width: 100%;
    }

    .item-images-div img{
        width: 45%;
    }
}

@media screen and (max-width: 830px){
    .navbar{
        width: 100%;
    }

    nav{
        flex-direction: column;
    }

    nav .nav-links{
        width: 100%;
    }

    .social-links{
        justify-content: space-evenly;
        width: 50%;
    }

    .dish-div img{
        margin: 10% auto;
        width: 100%;
    }

    .ingredients-section{
        grid-template-columns: auto auto;
    }

    .ingredients-info{
        width: 60%;
        margin-left: 20%;
    }

    .reservations-section{
        
        grid-template-columns: auto;
    }

    .item-images-div{
        width: 80%;
        margin-left: 10%;
        justify-content: center;
    }

    .reservations-info{
        margin-left: 10%;
    }
}

@media screen and (max-width: 700px){
    html{
        font-size: 85%;
    }
    .navbar{
        height: auto;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 75%, transparent);

    }

    nav .nav-links{
        flex-direction: column;
        display: none;
    }

    nav .nav-links .nav-link > a{
        padding: 0.5rem 1rem;
    }

    .social-links{
        justify-content: space-evenly;
        width: 100%;
    }

    #mobile-menu-btn{
        display: block;
    }
    
    .header-buttons a{
        padding: 1rem 2rem;
    }

    .offer-section{
        grid-template-columns: 1fr;
    }

    .dish-div img{
        width: 60%;
        margin-left: 20%;
    }

    .menu-section{
        grid-template-columns: auto;
    }

    .reviews-info{
        width: 70%;
        margin-left: 15%;
    }

    footer{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){

    .header-buttons{
        display: flex;
        flex-direction: column;
    }

    .header-buttons a:first-child{
        margin-right: 0;
        margin-bottom: 1rem;
    }
    

    .item-images-div{
        flex-direction: column;
        align-items: center;
    }

    .item-images-div img{
        width: 90%;
        margin-left: 5%;
    }

    footer{
        grid-template-columns: auto;
    }
}