/* font-family: 'Gentium Book Basic', serif;
font-family: 'Lato', sans-serif;
font-family: 'Yeseva One', cursive; */

/* Basic setup start */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.4rem;
}

h3{
    font-size: 1.9rem;
}

h5{
    font-size: 1.33rem;
}

h6{
    font-size: 1.1rem;
}

.container{
    width: 100%;
}

img{
    width: 100%;
}

/* Basic setup end */

/* Reusable component start*/
.divider{
    text-align: center;
    width: 100%;
}

.divider img{
    width: 35%;
}

section{
    min-height: 100vh;
}


button{
    padding: 0.5rem 3rem;
    background: #cc9900;
    color: #fff;
    border: none;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}
button:hover{
    background: #fff;
    color: #cc9900;
    border: 1px solid #cc9900;
}

button:focus{
    outline: none;
}

/* Reusable component end */


/* Header starts */

.header{
    background-image: url('../assets/images/header-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 15%, transparent);
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

nav .nav-links{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

nav .nav-links .nav-link{
    padding: 1rem 0;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
    text-align: center;
}

nav .nav-links .nav-link > a:hover{
    background-color: #fff;
    color: #000;
}

nav .nav-links .nav-link > a{
    color: #fff;
    padding: 1.7rem 1rem;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -webkit-o: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 6rem;
    text-align: center;
    padding: 0 0.5rem;
}

.social-link a{
    color: white;
}


nav .social-links .social-link a{
    color: #DAB33E;
    padding: 0;
}



.logo{
    width: 10rem;
}

#mobile-menu-btn{
    color: #fff;
    background-color: transparent;
    border: none;
    padding-top: 1.5rem;
    display: none;
}

#mobile-menu-btn:focus{
    outline: none;
}

.header-title{
    width: 60%;
    margin:30vh auto 5vh auto;
    font-size: 4.2rem;
    text-align: center;
    color: #F7F6F2;
    font-family: 'Yeseva One', cursive;
    font-weight: 300;
}

.header .divider img{
    width: 15%;
}

.header-buttons{
    margin: 4rem auto;
    text-align: center;
}

.header-buttons a{
    padding: 1rem 4rem;
    color: #fff;    
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.header-buttons a:first-child{
    background-color: rgba(0,0,0,0.5);
    margin-right: 1rem;

}

.header-buttons a:last-child{
    background-color: rgba(255,255,255,0.3);
}

/* Header ends */

/* offer section starts */

.offer-section{
    background: url('../assets/images/dish-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

.cook-div{
    display: flex;
    flex-direction: column;
}

.cook-div h3, .ingredients-section h3, .category-name, .reviews-title, .reservations-section h3, .about-title{
    text-align: center;
    font-family: 'Yeseva One', cursive;
    font-weight: 300;
    color: #cc9900;
    margin: 3rem auto 1rem auto;

}

.offer-description, .ingredients-description, .reviews-description, .guest-info p, .reservations-description, .about-description{
    width: 80%;
    margin-top: 1rem;
    margin-left: 10%;
    margin-bottom: 2rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.cook-image{
    width: 30%;
    margin-left: 40%;
}

.dish-div img{
    width: 85%;
    margin: 5% auto;
}


/* offer section ends */

/* Ingredients section start */

.ingredients-section{
    background: url('../assets/images/ingrediants-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}

.ingredients-section h3{
    color: #fff;
}

.ingredients-info{
    background-color: rgba(0,0,0,0.7);
    padding-top: 1rem;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ingredients-description{
    color: #fff;
}

.ingredient-images{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}

.ingredient-images img{
    width: 25%;
}

/* Ingredients section end */

/* Menu section start */

.menu-section{
    background: url('../assets/images/menu-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.menu-item{
    width: 60%;
    margin-left: 20%;
}

.item-price{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cc9900;
}



.item-price h5{
    text-align: center;
    color: #cc9900;
}
/* Menu section end */

/* Reviews section start */

.reviews-section{
    background: url('../assets/images/review-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: auto;
    padding-top: 2rem;
}

.reviews-section h3{
    color: #fff;
}

.reviews-info{
    background-color: rgba(0,0,0,0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 40%;
    margin: 10rem auto;
}

.reviews-description{
    color: #fff;
}

.guest-info p{
    color: #fff;
}

/* Reviews section end */


/* Reservations section start */

.reservations-section{
    background: url('../assets/images/dish-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
}


.item-images-div{
    height: 90%;
    max-width: 90%;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.item-images-div img{
    
    width: 35%;
    height: 90%;
    margin-top: 5rem;
}

.item-images-div img:first-child{
    margin-right: 1rem;
    margin-left: 1rem;
    
}

.reservations-section h3{
    color: #cc9900;
}

.reservations-info{
    padding-top: 1rem;
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.reservations-description{
    color: #000;
}

.reservations-form{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4rem;
}

.reservations-form-div{
    width: 80%;
    margin-left: 10%;
}

.reservations-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.form-input-group{
    display: flex;
    flex-direction: column;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #cc9900;
    margin-bottom: 0.5rem;
    width: 100%;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
    padding: 0.45rem 1rem;
}

input[type="date"]{
    padding: 0.3rem 1rem;
}

input{
    border: none;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;

}

input:focus{
    outline: 1px solid #cc9900;
}


/* Reservations section end */

/* Footer section start */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #191919;
    padding-bottom: 1rem;
}

footer > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title, .about-description, .about-info h4{
    color: #fff;
}

.about-description{
    margin-left: 0;
}

.about-info h4{
    margin: 0.5rem auto;
}

.about-info ul{
    margin-top: 2rem;
    width: 12rem;
}


/* Footer section end */
